.mk-post {
	text-decoration: none;
}

.mk-post div {
	width: 800px;
	max-width: calc(100% - 10px);
	margin: 20px auto;
	border-radius: 20px;
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	justify-content: space-around;
}

.mk-post div img {
	width: auto;
	height: auto;
	max-width: 450px;
	max-height: 250px;
}

.mk-post div h1 {
	font-weight: normal;
	color: black;
}