.mk-post {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	box-shadow: 1px 1px 3px #ddd, 3px 3px 5px #eee;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: ease-in-out .3s;
	color: teal;
	background: transparent;
	z-index: 3;
}

.mk-post div {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: red;
	z-index: -1;
	border-radius: 50%;
	background: teal;
	clip-path: circle(0 at 0);
	transition: ease-in-out .3s;
}

.mk-post:hover {
	color: white;
}

.mk-post:hover div {
	clip-path: circle(100% at 0);
}